body{
    max-width: 1280px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

nav img{
    height: 50px;
}

nav a{
    color: #2D2D2D;
    text-decoration: none;
    display: inline-block;
    margin-left: 1em;
}

nav a:hover{
    color: #FFA500;
    text-decoration: none;
}

header{
    display: flex;
    margin-top: 4em;
}

header h1{
    font-size: 68px;
}


header p{
    font-size: 17px;
}

header button{
    background-color: #2D2D2D;
    color: white;
    padding: 2em 6em;
}

section{
    display: flex;
    margin-top: 8em;
}

section div{
    text-align: center;
}