body{
    max-width: 1280px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

nav img{
    height: 50px;
}

nav a{
    color: #2D2D2D;
    text-decoration: none;
    display: inline-block;
    margin-left: 1em;
}

nav a:hover{
    color: #FFA500;
    text-decoration: none;
}

header{
    display: flex;
    margin-top: 4em;
}

header h1{
    font-size: 68px;
}


header p{
    font-size: 17px;
}

header button{
    background-color: #2D2D2D;
    color: white;
    padding: 2em 6em;
}

section#services{
    display: flex;
    margin-top: 8em;
}

section#services div{
    text-align: center;
}

section#portfolio h2{
    text-align: center;
    margin: 2em;
}

section#portfolio ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section#portfolio ul li img{
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

